@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin '@iconify/tailwind4';

/* .dm-sans-regular {
	font-family: 'DM Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
} */

@font-face {
	font-family: 'DM Sans';
	src: url('/fonts/DM_Sans/static/DMSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DM Sans';
	src: url('/fonts/DM_Sans/static/DMSans-Regular.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-sans: 'DM Sans', sans-serif;
	--font-mono: 'DM Mono', monospace;

	--color-off-white: #ddd9d3;
}

@utility type-heading {
	@apply font-sans;
	@apply text-3xl lg:text-5xl;
}

@utility type-title {
	@apply font-sans;
	@apply text-xl md:text-3xl;
}

@utility type-copy-large {
	@apply font-sans;
	@apply text-base sm:text-lg md:text-2xl;
}

@utility type-copy-default {
	@apply font-sans;
	@apply text-sm md:text-base lg:text-lg;
}

@utility type-copy-small {
	@apply font-sans;
	@apply text-xs md:text-sm lg:text-base;
}

body {
	@apply antialiased;
	@apply bg-off-white;
	@apply min-h-screen;
}

p a {
	@apply underline;
}

ul li {
	@apply list-disc;
	@apply ml-[2ch];
}
