@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin '@iconify/tailwind4';

/* .dm-sans-regular {
	font-family: 'DM Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
} */

@font-face {
	font-family: 'DM Sans';
	src: url('/fonts/DM_Sans/static/DMSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-sans: 'DM Sans', sans-serif;
	--font-mono: 'DM Mono', monospace;

	--color-off-white: #ddd9d3;
}

@utility type-p {
	@apply font-sans;
	@apply text-2xl/tight;
}

body {
	@apply antialiased;
	@apply bg-off-white;
}

p a {
	@apply underline;
}
